body {
    background-color:#333;
    color: #fff;
    margin: 5px;;
    padding: 0px;
    font-family: 'Verdana';
    font-size: normal;
    width:100%;
    height:100%;   
  }

  h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #E13680;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1em;
    font-weight: bold;
    color: #d6a6bb;
    margin-bottom: 5px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    background-color: coral;
  }

  a:visited {
    color: #E13680;
  }