ul {
    padding: 2px;
    margin: 2px;
    border: 0px;    
    list-style-type: none;
    width: 50%;
    height: auto;
    font-weight: bold
}

.frm {
    margin-left: 5px; 
    width: 30%;
}    


.frm fieldset {
    border: 0px;
    vertical-align: top;
    width: auto;    
}

.err {
    padding: 5px;
    margin: 5px;
    border: 0px;    
    background-color:coral;
    width:50%;
}

.frm input[type=text] {
    min-width: 200px;
    min-height: 25px;
    padding: 2px;
    border: 1px solid;
    float: left;
}

.frm textarea {
    min-width: 200px;    
    padding: 2px;
    border: 1px solid;        
    float: left;
}

.frm label {
    min-width: 150px;
    min-height: 25px;
    padding: 2px;
    font-weight: bold;
    float: left;
}

button {
    min-width: 150px;
    min-height: 25px;
    padding: 3px;
    margin: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #499;
    float:right;
}

img {
    height: 100px;
    width: 100px;
    padding: 3px;
    margin: 2px;
    border: 0px;      
}


thead tr {
    background-color: #79f;                  
    padding: 2px;
    height: 50px;
    text-align: center;
}

thead  td {
    font-weight: bold
}

tbody tr:nth-child(2) {
    background-color: #b8b; 
}

tbody td {
    min-width:100px;
    padding: 5px;
    text-align: center;
}